<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Softvision Carrrers</title>
	<link rel="stylesheet" type="text/css" href="/CSS/LoginPortalPage.css">
</head>
<body>
	 <div class="SwitchContainer">
	   <a href=""><button class="Logout">Logout</button></a>                           
    </div>

	<div class="MasterContainer">		
		<div class="Container">
			<div class="FirstContainer">
				<table>
					<tr>
						<td><div class="ContentContainer"><p>Required C# developer with 2-3 Years of Experience<br>
							Walkin with You're Updated Resume to Cognizant SoftVision Mysuru SSTP<br>
							24-06-2019 10:00AM-11:30AM</p></div>
						</td>
						<td><div class="ButtonContainer"><a href=""><button>Apply</button></a></div></td>                                        
					</tr>
				</table>

			</div>

				<div class="SecondContainer">
				<table>
					<tr>
						<td><div class="ContentContainer"><p>Required C# developer with 2-3 Years of Experience<br>
							Walkin with You're Updated Resume to Cognizant SoftVision Mysuru SSTP<br>
							24-06-2019 10:00AM-11:30AM</p></div>
						</td>
						<td><div class="ButtonContainer"><a href=""><button>Apply</button></a></div></td>                                        
					</tr>
				</table>

			</div>

		</div>
	</div>
</body>
</html>