<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Softvision Carrrers</title>
	<style>
		body
{
	font: Arial,Helvitica,Sans-serif 12px normal;
	background-color: black;
	margin: 0;
	color: white;
}

.MasterContainer
{
	position: relative;
	height: 600px;
	width: 100%;
	margin-top:80px;
	margin-bottom: 5px;
	background-image: url('../images/nature.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.Container
{
	position: absolute;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	height: 330px;
    width: 25%;
    left: 475px;
    top: 90px;
    text-align: center;
    padding: 30px 30px;

}

button
{
	width: 65%;
	padding: 10px 15px;
	background-color: #1578A2;
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}


	</style>
</head>
<body>
	<div class="MasterContainer">		
		<div class="Container">
		  <h3>Welcome to SV carrers</h3>	
		  <br>
		  <br>
		  <a href="./RegistrationPage.html"><button>Register</button></a>	 		
		  <br>
		  <br>
		  <br>
		  <br>
		  <a href="./LoginPage.html"><button>Login</button></a>
		  <br>
		  <br>
		</div>
	</div>
</body>
</html>